{% extends 'Electronicsstore/main.html' %}

{% block content %}
<h1 class = "p-5 ">Home</h1>
<div class="container pb-5">
    <div class="row">
      <div class="col">
        Total:<span class="badge text-bg-primary">{{T_orders}}</span>
      </div>
      <div class="col">
        Pending:<span class="badge text-bg-secondary">{{P_orders}}</div></span>
      <div class="col">
        Delivered:<span class="badge text-bg-success">{{D_orders}}</div></span> 
      <div class="col">
        In progress:<span class="badge text-bg-danger">{{In_orders}}</span> 
      </div>
      <div class="col">
        Out of order:<span class="badge text-bg-info">{{Out_orders}}</span>
      </div>
    </div>
  </div>

<div class="container ">
    <div class="row">
      <div class="col">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Customers</h5> 
              <h6 class="card-subtitle mb-2 text-body-secondary"><a class="badge text-bg-success" href ='#'>Create</a></h6>
            </div>
            
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">email</th>
        <th scope="col">age</th>
        <th scope="col">Show</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for item in customers %}
        <td>{{item.name}}</td>
        <td>{{item.email}}</td>
        <td>{{item.age}}</td>
        <td> <a href ={% url 'customer' item.id %}><i class="fa-solid fa-eye"></i></a></td>
      </tr>

      {% endfor %}

    </tbody>
  </table>
          </div>
      </div>
      <div class="col">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Orders</h5>
              {% comment %} <h6 class="card-subtitle mb-2 text-body-secondary"><a  class="badge text-bg-success" href = {% url 'create'%} >Create</a></h6> {% endcomment %}
              
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Date_created</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Devices</th>
                    <th scope="col">Status</th> 
                    <th scope="col">Action</th> 
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    {% for item in  orders  %}
                    <td>{{item.date_created}}</td>
                    <td>{{item.customer}}</td>
                    <td>{{item.devices}}</td>
                    <td>{{item.status}}</td>
                    <td>
                    
                        <a class = "text-danger" href= {% url 'delete' item.id %} >Remove</a>
                        <a href={% url 'update' item.id %} >Edit</a>
                        
                    </td>

                  </tr>
            
                  {% endfor %}
            
                </tbody>
              </table>
          </div>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
      </div>
    </div>
  </div>
{% endblock %}

